In [1]:
#import the necessar Library
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#load the dataset
data=pd.read_csv('50_Startups.csv')

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data.shape

(108, 5)

In [5]:
data.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [6]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [7]:
data['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [8]:
data['State'].value_counts()

New York      39
California    36
Florida       33
Name: State, dtype: int64

In [9]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [11]:
#Encoding=Converting Categoricalto numerical
from sklearn.preprocessing import LabelEncoder

In [14]:
le=LabelEncoder()

In [15]:
data["State"]=le.fit_transform(data['State'])

In [16]:
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        108 non-null    float64
 1   Administration   108 non-null    float64
 2   Marketing Spend  108 non-null    float64
 3   State            108 non-null    int32
 4   Profit           108 non-null    float64
dtypes: float64(4), int32(1)
memory usage: 3.9 KB

In [18]:
y=data["Profit"]
x=data.drop(columns=["Profit"],axis=1)

In [20]:
x

     R&D Spend  Administration  Marketing Spend  State
0    165349.20       136897.80        471784.10      2
1    162597.70       151377.59        443898.53      0
2    153441.51       101145.55        407934.54      1
3    144372.41       118671.85        383199.62      2
4    142107.34        91391.77        366168.42      1
..         ...             ...              ...    ...
103  119943.24       156547.42        256512.92      1
104  114523.61       122616.84        261776.23      2
105   78013.11       121597.55        264346.06      0
106   94657.16       145077.58        282574.31      2
107   91749.16       114175.79        294919.57      1

[108 rows x 4 columns]

In [21]:
y

0      192261.83
1      191792.06
2      191050.39
3      182901.99
4      166187.94
         ...
103    132602.65
104    129917.04
105    126992.93
106    125370.37
107    124266.90
Name: Profit, Length: 108, dtype: float64

In [22]:
#Scaling independent features
from sklearn.preprocessing import StandardScaler

In [23]:
name=x.columns

In [24]:
scale=StandardScaler()

In [25]:
x=scale.fit_transform(x)

In [26]:
x

array([[ 2.01819092,  0.55696553,  2.18783528,  1.16731536],
       [ 1.95675646,  1.0893969 ,  1.95029024, -1.23401909],
       [ 1.75232048, -0.75766814,  1.64392865, -0.03335187],
       [ 1.54982902, -0.1132146 ,  1.43322263,  1.16731536],
       [ 1.49925539, -1.11632102,  1.28814125, -0.03335187],
       [ 1.27083396, -0.806604  ,  1.25996984,  1.16731536],
       [ 1.3319795 ,  0.93574262, -0.74312422, -1.23401909],
       [ 1.23558377,  0.87437939,  0.92787631, -0.03335187],
       [ 1.01776417,  0.99163696,  0.82340982,  1.16731536],
       [ 1.08011094, -0.48065199,  0.76691751, -1.23401909],
       [ 0.60181303, -0.4102384 ,  0.1210342 , -0.03335187],
       [ 0.57410176, -1.10165542,  0.29637694, -1.23401909],
       [ 0.4220906 ,  0.20479752,  0.29718526, -0.03335187],
       [ 0.38030758,  0.50538623,  0.32125438, -1.23401909],
       [ 1.00438367,  1.27949493,  0.35403374, -0.03335187],
       [ 0.88337621,  0.03184527,  0.39886959,  1.16731536],
       [ 0.06818346, -0.00563469,  0.42076085, -1.23401909],
       [ 0.43980557,  0.8577414 ,  0.57603938,  1.16731536],
       [ 0.37487683, -0.27853767,  0.68120328, -0.03335187],
       [ 0.25588265,  1.16795814, -1.83108825,  1.16731536],
       [ 0.02890359, -0.28988105,  0.71310446, -1.23401909],
       [ 0.07658668,  1.1774935 ,  0.72224334,  1.16731536],
       [-0.02154122,  0.03794589,  0.75275659, -0.03335187],
       [-0.165823  , -0.58832162,  0.76510399, -0.03335187],
       [ 0.04654576, -0.82621636, -0.63359259,  1.16731536],
       [-0.22985461,  0.65460485, -0.6558447 , -1.23401909],
       [ 0.00825076,  0.82311815, -0.68917401, -0.03335187],
       [-0.06367255,  0.224807  ,  1.177531  ,  1.16731536],
       [-0.19889043,  2.23914065, -0.82463513, -0.03335187],
       [-0.20884945,  1.15023284, -0.918423  ,  1.16731536],
       [-0.2894745 , -0.22465065, -1.05478086, -0.03335187],
       [-0.30863384,  1.13809338, -1.07959552,  1.16731536],
       [-0.25789476,  0.27463345, -1.43850805, -1.23401909],
       [-0.4346159 , -0.68736485, -0.00270767, -0.03335187],
       [-0.63708012,  1.32165249, -0.03539459, -1.23401909],
       [-0.64628022, -1.3496062 , -0.08037287,  1.16731536],
       [-1.03367032,  0.19508381, -0.11777636, -0.03335187],
       [-0.68968668, -2.59114164, -0.15268033, -1.23401909],
       [-1.2219853 , -2.0519077 , -0.25289545,  1.16731536],
       [-0.81274405, -1.42555047, -0.34034534, -1.23401909],
       [-1.0316481 , -0.11784035, -0.3591171 , -1.23401909],
       [-1.05088134, -1.36198577, -0.43003381, -0.03335187],
       [-1.14581818, -0.93990057, -0.57033117, -1.23401909],
       [-1.32745787,  0.20707435, -1.52838812,  1.16731536],
       [-1.17848774,  1.21546693, -1.5897171 , -1.23401909],
       [-1.65133124,  0.08833235, -1.8148695 ,  1.16731536],
       [-1.6442929 , -0.21821836,  0.6999006 , -0.03335187],
       [-1.673664  ,  0.50288031, -1.83108825, -1.23401909],
       [-1.66156131, -2.57422677, -1.83108825,  1.16731536],
       [-1.673664  , -0.17528531, -1.4462786 , -1.23401909],
       [ 0.57410176, -1.10165542,  0.29637694, -1.23401909],
       [ 0.4220906 ,  0.20479752,  0.29718526, -0.03335187],
       [ 0.38030758,  0.50538623,  0.32125438, -1.23401909],
       [ 1.00438367,  1.27949493,  0.35403374, -0.03335187],
       [ 0.88337621,  0.03184527,  0.39886959,  1.16731536],
       [ 0.06818346, -0.00563469,  0.42076085, -1.23401909],
       [ 0.43980557,  0.8577414 ,  0.57603938,  1.16731536],
       [ 0.37487683, -0.27853767,  0.68120328, -0.03335187],
       [ 0.25588265,  1.16795814, -1.83108825,  1.16731536],
       [ 0.02890359, -0.28988105,  0.71310446, -1.23401909],
       [ 0.07658668,  1.1774935 ,  0.72224334,  1.16731536],
       [-0.02154122,  0.03794589,  0.75275659, -0.03335187],
       [-0.165823  , -0.58832162,  0.76510399, -0.03335187],
       [ 0.04654576, -0.82621636, -0.63359259,  1.16731536],
       [-0.22985461,  0.65460485, -0.6558447 , -1.23401909],
       [ 0.00825076,  0.82311815, -0.68917401, -0.03335187],
       [-0.06367255,  0.224807  ,  1.177531  ,  1.16731536],
       [-0.19889043,  2.23914065, -0.82463513, -0.03335187],
       [-0.20884945,  1.15023284, -0.918423  ,  1.16731536],
       [-0.2894745 , -0.22465065, -1.05478086,  1.16731536],
       [-1.2219853 ,  1.13809338, -1.07959552,  1.16731536],
       [-0.25789476,  0.27463345, -1.43850805, -1.23401909],
       [-0.4346159 , -0.68736485, -0.00270767, -0.03335187],
       [-0.63708012,  1.32165249, -0.03539459,  1.16731536],
       [-1.2219853 , -1.3496062 , -0.08037287,  1.16731536],
       [-1.03367032,  0.19508381, -0.11777636, -0.03335187],
       [-0.68968668, -2.59114164, -0.15268033, -1.23401909],
       [-1.2219853 , -2.0519077 , -0.25289545,  1.16731536],
       [-0.81274405, -1.42555047, -0.34034534, -1.23401909],
       [-1.0316481 , -0.11784035, -0.3591171 , -1.23401909],
       [-1.05088134, -1.36198577, -0.43003381,  1.16731536],
       [-1.14581818, -0.93990057, -0.57033117, -1.23401909],
       [-1.2219853 ,  0.20707435, -1.52838812,  1.16731536],
       [-1.17848774,  1.21546693, -1.5897171 , -1.23401909],
       [-1.65133124,  0.08833235, -1.8148695 ,  1.16731536],
       [-1.6442929 , -0.21821836,  0.6999006 , -0.03335187],
       [-1.673664  ,  0.50288031, -1.83108825, -1.23401909],
       [-1.66156131, -2.57422677, -1.83108825,  1.16731536],
       [-1.673664  , -0.17528531, -1.4462786 , -1.23401909],
       [ 2.01819092,  0.55696553,  2.18783528,  1.16731536],
       [ 1.95675646,  1.0893969 ,  1.95029024, -1.23401909],
       [ 1.75232048, -0.75766814,  1.64392865, -0.03335187],
       [ 1.54982902, -0.1132146 ,  1.43322263,  1.16731536],
       [ 1.49925539, -1.11632102,  1.28814125, -0.03335187],
       [ 1.27083396, -0.806604  ,  1.25996984,  1.16731536],
       [ 1.3319795 ,  0.93574262, -0.74312422, -1.23401909],
       [ 1.23558377,  0.87437939,  0.92787631, -0.03335187],
       [ 1.01776417,  0.99163696,  0.82340982,  1.16731536],
       [ 1.08011094, -0.48065199,  0.76691751, -1.23401909],
       [ 0.60181303, -0.4102384 ,  0.1210342 , -0.03335187],
       [ 0.57410176, -1.10165542,  0.29637694, -1.23401909],
       [ 0.4220906 ,  0.20479752,  0.29718526, -0.03335187],
       [ 0.38030758,  0.50538623,  0.32125438, -1.23401909],
       [ 1.00438367,  1.27949493,  0.35403374, -0.03335187],
       [ 0.88337621,  0.03184527,  0.39886959,  1.16731536],
       [ 0.06818346, -0.00563469,  0.42076085, -1.23401909],
       [ 0.43980557,  0.8577414 ,  0.57603938,  1.16731536],
       [ 0.37487683, -0.27853767,  0.68120328, -0.03335187]])

In [27]:
x=pd.DataFrame(x,columns=name)

In [28]:
x

     R&D Spend  Administration  Marketing Spend     State
0     2.018191        0.556966         2.187835  1.167315
1     1.956756        1.089397         1.950290 -1.234019
2     1.752320       -0.757668         1.643929 -0.033352
3     1.549829       -0.113215         1.433223  1.167315
4     1.499255       -1.116321         1.288141 -0.033352
..         ...             ...              ...       ...
103   1.004384        1.279495         0.354034 -0.033352
104   0.883376        0.031845         0.398870  1.167315
105   0.068183       -0.005635         0.420761 -1.234019
106   0.439806        0.857741         0.576039  1.167315
107   0.374877       -0.278538         0.681203 -0.033352

[108 rows x 4 columns]

In [30]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [33]:
#model building

In [34]:
from sklearn.linear_model import LinearRegression

In [35]:
model=LinearRegression()

In [36]:
model

LinearRegression()

In [37]:
model.fit(x_train,y_train)

LinearRegression()

In [38]:
pred=model.predict(x_test)

In [39]:
pred

array([ 48379.24868386, 134848.9192467 ,  76483.10965225, 181561.78529188,
       112966.00035112, 134241.68257226, 129222.38731942, 160017.05919784,
       116752.96050775,  46260.9926407 , 102266.36060189, 115568.27177598,
        48379.24868386, 119114.16525526,  88602.22002789, 127101.40273623,
       127101.40273623,  90942.33421515,  58677.7334991 , 146304.26215166,
       149410.05441   , 152502.87810448])

In [40]:
y_test

84      64926.08
10     146121.95
75      90708.19
2      191050.39
24     108552.04
100    144259.40
107    124266.90
7      155752.60
16     126992.93
86      42559.73
68     101004.64
22     110352.25
45      64926.08
60     111313.02
76      89949.14
52     134307.35
13     134307.35
73      96712.80
85      49490.75
54     129917.04
103    132602.65
8      152211.77
Name: Profit, dtype: float64

In [41]:
E=pred-y_test
E

84    -16546.831316
10    -11273.030753
75    -14225.080348
2      -9488.604708
24      4413.960351
100   -10017.717428
107     4955.487319
7       4264.459198
16    -10239.969492
86      3701.262641
68      1261.720602
22      5216.021776
45    -16546.831316
60      7801.145255
76     -1346.919972
52     -7205.947264
13     -7205.947264
73     -5770.465785
85      9186.983499
54     16387.222152
103    16807.404410
8        291.108104
Name: Profit, dtype: float64

In [42]:
from sklearn.metrics import r2_score

In [43]:
r2_score(pred,y_test)*100

93.1472038899288